package home

import (
	"github.com/brian-abo/tfo-webapp/web/components"
	"github.com/brian-abo/tfo-webapp/web/layout"
)

templ Page() {
	@layout.PageFull(layout.PageProps{Title: "The Fallen Outdoors"}) {
		@components.Hero(components.DefaultHeroProps())
	}
}
